body {
  font: normal 18pt Arial;
  background-color: #d6d6d6;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input {
  font: normal 1.4rem Arial;
  display: block;
  margin-bottom: 8px;
}

#container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
